* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
}
main {
    height: 100vh;
    width: 97vw;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "menu menu"
    "quiz curiosidades"
    "botao curiosidades"
    "resposta curiosidades"
    "rodape curiosidades" ; 
    .cabecalho {
        grid-area: menu;
    }
    .submit{
        grid-area: botao;
    }
    .curiosidades {
        grid-area: curiosidades;
    }
    .quiz {
        grid-area: quiz;
    }
    .rodape{
        grid-area: rodape;
    }
    .resposta{
        grid-area: resposta;
    }
}





