// Variáveis
    //cores
    $branco: #FFF;
    $preto: #000;
    $cinza: #B2B2B2;
    $cor-primaria:#D59767;
    $cor-secundaria:#AA896F;
    $cor-terciaria:#FF9D52;
    $cor-quaternaria: #807269;
    $cor-quintenaria: #554C45;
    $gradiente-primario: linear-gradient(45deg, #FFF, #999999);
    $fonte-Inder: "Inder", sans-serif;
    $fonte-Indie-Flower: "Indie Flower", cursive;
    $fonte-Irish-Grover: "Irish Grover", system-ui;
    $fonte-Inika: "Inika", serif;
    $fonte-Inter: "Inter", sans-serif;