@use '../abstracts/mixins';
@use '../abstracts/variaveis';
.cabecalho{
    &.open2{
        .curiosidades{
            display: flex;
            opacity: 1;
            transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
        } 
    }
    .curiosidades{
        right: 0;
        bottom: 0;
        top: 16vh;
        position: fixed;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        background-color: variaveis.$cor-quaternaria-opaca;
        width: 16.6rem;
        row-gap: 1rem;
        padding: 1rem;
        &.open{
            .mobile-menu {
                display: block;
                max-height: 40rem; // Ajuste conforme necessário
                opacity: 1;
                transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
            }
        }
        .curiosidades__animais{
            display: flex;
            flex-direction: column;
            align-items: center;
            .curiosidades__animais__foto{
                .cachorro{
                    background: url(../assets/imagem-golden.webp);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 12rem;
                    width: 10rem;
                    height: 8rem;
                    border-radius: 24px;
                    border: 2px solid variaveis.$cor-terciaria;
                    box-shadow: 2px 2px 4px rgb(0, 0, 0);
                    transition: transform 0.5s;
                }
                .gato{
                    background-image: url(../assets/imagem-gato-laranja.jpg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 18.8rem;
                    width: 10rem;
                    height: 8rem;
                    border-radius: 24px;
                    border: 2px solid variaveis.$cor-terciaria;
                    box-shadow: 2px 2px 4px rgb(0, 0, 0);
                    transition: transform 0.5s;
                }
                .rato{
                    background-image: url(../assets/imagem-hamster.jfif);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 16rem;
                    width: 10rem;
                    height: 8rem;
                    border-radius: 24px;
                    border: 2px solid variaveis.$cor-terciaria;
                    box-shadow: 2px 2px 4px rgb(0, 0, 0);
                    transition: transform 0.5s;
                }
                &:hover{
                    div{
                        border: 2px solid variaveis.$branco;
                        transform: scale(1.1);
                    }
                }
            }
            .curiosidades__animais__titulo{
                h2 {
                    @include mixins.ff-fs-cl(variaveis.$fonte-Indie-Flower,2rem,variaveis.$branco);
                    font-weight: 400;
                    text-shadow: 2px 2px 2px variaveis.$preto;
                    transition: transform 0.5s;
                }
                text-decoration: none; 
                &:hover{
                    h2{
                        color: variaveis.$cor-primaria;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
