@use '../abstracts/variaveis';
@use '../abstracts/mixins';

.cabecalho {
    height: 10%;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: variaveis.$preto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 ;
    .cabecalho__logo{
        display: flex;
        column-gap: 1rem;
        align-items: center;
        .cabecalho__navegacao__logo{
            padding: 0 0 0 2rem;
            width: 6rem;
        }
        .cabecalho__navegacao__titulo{
            @include mixins.ff-fs-cl(variaveis.$fonte-Inika, 1.75rem,none);
            font-weight: 400;
            background: variaveis.$gradiente-primario;
            background-clip: inherit;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .cabecalho__navegacao{
        display: flex;
        justify-content: space-between;
        width: 60%;
        align-items: center;
        .cabecalho__navegacao__pesquisar{
            display: inline-flex;
            $largura-input: 500px;
            width: $largura-input;
            height: 3.5rem;
            border-radius: 24px;
            border: 2px solid variaveis.$cor-quintenaria;
            margin-right: 8rem;
            .cabecalho__navegacao__pesquisar__pesquisa{
                @include mixins.ff-fs-cl(variaveis.$fonte-Inter,1.2rem, variaveis.$preto);
                background-color: variaveis.$branco;
                width: 100%;
                font-weight:400;
                border: none;
                outline: none;
                border-radius: 24px;
                padding-left: 3rem;
                line-height: 25px;
                padding-right: 5px;
                background-image: url('../../assets/lupa.svg');
                background-size: 2rem;
                background-repeat: no-repeat;
                background-position: 0.8rem center;
                &::placeholder{
                    @include mixins.ff-fs-cl(variaveis.$fonte-Inter,1.2rem, variaveis.$cinza);
                    padding-right: 0.2rem;
                }
                &:focus{
                    border: 3px solid variaveis.$cor-secundaria;
                    transition: 0.2s;
                }
            }
        }

        .cabecalho__navegacao__categorias{
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            align-items: center;
            column-gap: 1rem;
            li {
                .cabecalho__navegacao__categorias__nome{
                    @include mixins.ff-fs-cl(variaveis.$fonte-Irish-Grover,1.5rem,variaveis.$branco);
                    text-decoration: none;
                    padding: 1rem;
                    margin-right: 2rem;
                    text-shadow: 2px 2px 2px variaveis.$preto;
                    &:hover{
                        color: variaveis.$cor-primaria;
                        transition: 0.8s;
                        background-color: variaveis.$branco;
                        border-radius: 4px;
                    }
                }
            }    
        }
    }
}