@use '../abstracts/mixins';
@use '../abstracts/variaveis';

.quiz {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    .quiz__perguntas{
        margin-top: 4rem;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "quantidade titulo"
        "questionario questionario";
        .quiz__perguntas__quantidade{
            grid-area: quantidade;
        }
        .quiz__perguntas__perguntando{
            grid-area: titulo;
        }
        .quiz__perguntas__alternativa{
            grid-area: questionario;
        }

    }
    .quiz__imagem{
        width: 30rem;
        height: 25rem;
        border-radius: 57px;
        border: 4px solid variaveis.$cor-quintenaria;
        box-shadow: 4px 4px 8px variaveis.$preto;
        margin-top: 6rem;
    }
}