* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

main {
  height: 100vh;
  width: 98vw;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "menu menu" "quiz curiosidades";
}
main .cabecalho {
  grid-area: menu;
}
main .curiosidades {
  grid-area: curiosidades;
}
main .quiz {
  grid-area: quiz;
}

.cabecalho {
  height: 10%;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.cabecalho .cabecalho__logo {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
}
.cabecalho .cabecalho__logo .cabecalho__navegacao__logo {
  padding: 0 0 0 2rem;
  width: 6rem;
}
.cabecalho .cabecalho__logo .cabecalho__navegacao__titulo {
  font-family: "Inika", serif;
  font-size: 1.75rem;
  color: none;
  font-weight: 400;
  background: linear-gradient(45deg, #FFF, #999999);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cabecalho .cabecalho__navegacao {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__pesquisar {
  display: inline-flex;
  width: 500px;
  height: 3.5rem;
  border-radius: 24px;
  border: 2px solid #554C45;
  margin-right: 8rem;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__pesquisar .cabecalho__navegacao__pesquisar__pesquisa {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #000;
  background-color: #FFF;
  width: 100%;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 24px;
  padding-left: 3rem;
  line-height: 25px;
  padding-right: 5px;
  background-image: url("../../assets/lupa.svg");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0.8rem center;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__pesquisar .cabecalho__navegacao__pesquisar__pesquisa::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #B2B2B2;
  padding-right: 0.2rem;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__pesquisar .cabecalho__navegacao__pesquisar__pesquisa::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #B2B2B2;
  padding-right: 0.2rem;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__pesquisar .cabecalho__navegacao__pesquisar__pesquisa:focus {
  border: 3px solid #AA896F;
  transition: 0.2s;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__categorias {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__categorias li .cabecalho__navegacao__categorias__nome {
  font-family: "Irish Grover", system-ui;
  font-size: 1.5rem;
  color: #FFF;
  text-decoration: none;
  padding: 1rem;
  margin-right: 2rem;
  text-shadow: 2px 2px 2px #000;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__categorias li .cabecalho__navegacao__categorias__nome:hover {
  color: #D59767;
  transition: 0.8s;
  background-color: #FFF;
  border-radius: 4px;
}

.curiosidades {
  right: 0;
  bottom: 0;
  height: 90%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #554C45;
  width: 16.6rem;
  row-gap: 3rem;
  padding: 1rem;
}
.curiosidades .curiosidades__animais {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.curiosidades .curiosidades__animais .curiosidades__animais__foto .cachorro {
  background-image: url(../../assets/imagem-golden.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12rem;
  width: 12rem;
  height: 11rem;
  border-radius: 24px;
  border: 2px solid #FF9D52;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  transition: transform 0.5s;
}
.curiosidades .curiosidades__animais .curiosidades__animais__foto .gato {
  background-image: url(../../assets/imagem-gato-laranja.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18.8rem;
  width: 12rem;
  height: 11rem;
  border-radius: 24px;
  border: 2px solid #FF9D52;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  transition: transform 0.5s;
}
.curiosidades .curiosidades__animais .curiosidades__animais__foto .rato {
  background-image: url(../../assets/imagem-hamster.jfif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16rem;
  width: 12rem;
  height: 11rem;
  border-radius: 24px;
  border: 2px solid #FF9D52;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  transition: transform 0.5s;
}
.curiosidades .curiosidades__animais .curiosidades__animais__foto:hover div {
  border: 2px solid #FFF;
  transform: scale(1.1);
}
.curiosidades .curiosidades__animais .curiosidades__animais__titulo {
  text-decoration: none;
}
.curiosidades .curiosidades__animais .curiosidades__animais__titulo h2 {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  color: #FFF;
  font-weight: 400;
  text-shadow: 2px 2px 2px #000;
  transition: transform 0.5s;
}
.curiosidades .curiosidades__animais .curiosidades__animais__titulo:hover h2 {
  color: #D59767;
  transform: scale(1.2);
}

.quiz {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  margin: 0 18rem 0 2rem;
}
.quiz .quiz__perguntas {
  margin-top: 4rem;
  display: grid;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template-rows: auto 1fr;
  grid-template-areas: "quantidade titulo" "questionario questionario";
}
.quiz .quiz__perguntas .quiz__perguntas__p {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.quiz .quiz__perguntas .quiz__perguntas__p .quiz__perguntas__quantidade {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #FFF;
  background-color: #AA896F;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;
  width: 2.5rem;
  font-weight: 400;
  grid-area: quantidade;
}
.quiz .quiz__perguntas .quiz__perguntas__p .quiz__perguntas__perguntando {
  font-family: "Inika", serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  grid-area: titulo;
  width: 60rem;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa {
  margin-left: 4rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style-type: none;
  grid-area: questionario;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=radio] {
  display: none;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=radio]:checked + label .custom-radio {
  border-color: #000;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=radio]:checked + label .custom-radio span {
  background: #FFF;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=radio]:checked + label .quiz__perguntas__alternativa__opcao__titulo {
  transition: 0.3s;
  color: #FFF;
  background-color: #D59767;
  text-shadow: 2px 2px 2px #000;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao {
  display: flex;
  align-items: center;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .custom-radio {
  border: 4px solid #554C45;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .custom-radio span {
  content: "";
  width: 32px;
  height: 32px;
  background: #AA896F;
  border-radius: 50%;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .custom-radio,
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label span {
  transition: 0.5s ease;
  color: #000;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .quiz__perguntas__alternativa__opcao__titulo {
  font-family: "Inder", sans-serif;
  font-size: 1.5rem;
  color: #000;
  background-color: #FF9D52;
  border-radius: 16px;
  font-weight: 400;
  padding: 1rem;
  width: 40rem;
  text-align: center;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .quiz__perguntas__alternativa__opcao__titulo:hover {
  cursor: pointer;
  background-color: #D59767;
  color: #FFF;
  transition: 0.3s;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao .frase__interrogativa {
  font-family: "Inder", sans-serif;
  font-size: 2rem;
  color: #B2B2B2;
  background-color: #000;
  padding: 1rem;
  border-radius: 10px;
  width: 50rem;
}
.quiz .quiz__imagem {
  width: 30rem;
  height: 25rem;
  border-radius: 57px;
  border: 4px solid #554C45;
  box-shadow: 4px 4px 8px #000;
  margin-top: 6rem;
}
.quiz .imagem2 {
  background: url(../../assets/varios-cachorrinhos.jpg);
  background-position: center;
  background-size: 45rem;
  background-repeat: no-repeat;
}
.quiz .imagem3 {
  background: url(../../assets/varios-gatinhos.jpg);
  background-position: center;
  background-size: 37rem;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */