* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

main {
  height: 100vh;
  width: 98vw;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "menu menu" "quiz curiosidades" "botao curiosidades" "resposta curiosidades" "rodape curiosidades";
}
main .cabecalho {
  grid-area: menu;
}
main .submit {
  grid-area: botao;
}
main .curiosidades {
  grid-area: curiosidades;
}
main .quiz {
  grid-area: quiz;
}
main .rodape {
  grid-area: rodape;
}
main .resposta {
  grid-area: resposta;
}

.cabecalho {
  height: 16%;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}
.cabecalho .curiosidades__menu {
  display: block;
  padding-right: 3.5rem;
  padding-left: 1rem;
}
.cabecalho .curiosidades__menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cabecalho .curiosidades__menu button img {
  width: 3rem;
}
.cabecalho .cabecalho__logo {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
}
.cabecalho .cabecalho__logo .cabecalho__navegacao__logo {
  padding: 0 0 0 2rem;
  width: 6rem;
}
.cabecalho .cabecalho__logo .cabecalho__navegacao__titulo {
  font-family: "Inika", serif;
  font-size: 1.75rem;
  color: none;
  font-weight: 400;
  background: linear-gradient(45deg, #FFF, #999999);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cabecalho .cabecalho__navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__categorias {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__categorias li .cabecalho__navegacao__categorias__nome {
  font-family: "Irish Grover", system-ui;
  font-size: 1.5rem;
  color: #FFF;
  text-decoration: none;
  padding: 1rem;
  margin-right: 2rem;
  text-shadow: 2px 2px 2px #000;
}
.cabecalho .cabecalho__navegacao .cabecalho__navegacao__categorias li .cabecalho__navegacao__categorias__nome:hover {
  color: #D59767;
  transition: 0.8s;
  background-color: #FFF;
  border-radius: 4px;
}
.cabecalho .cabecalho__navegacao .mobile-menu-icon {
  display: none;
  position: relative;
}
.cabecalho .cabecalho__navegacao .mobile-menu {
  display: none;
}
.cabecalho .cabecalho__navegacao__pesquisar {
  margin-left: 2rem;
  display: inline-flex;
  width: 700px;
  height: 3.5rem;
  border-radius: 24px;
  border: 2px solid #554C45;
  margin-right: 8rem;
}
.cabecalho .cabecalho__navegacao__pesquisar .cabecalho__navegacao__pesquisar__pesquisa {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #000;
  background-color: #FFF;
  width: 100%;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 24px;
  padding-left: 3rem;
  line-height: 25px;
  padding-right: 5px;
  background-image: url("../assets/lupa.svg");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0.8rem center;
}
.cabecalho .cabecalho__navegacao__pesquisar .cabecalho__navegacao__pesquisar__pesquisa::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #B2B2B2;
  padding-right: 0.2rem;
}
.cabecalho .cabecalho__navegacao__pesquisar .cabecalho__navegacao__pesquisar__pesquisa::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #B2B2B2;
  padding-right: 0.2rem;
}
.cabecalho .cabecalho__navegacao__pesquisar .cabecalho__navegacao__pesquisar__pesquisa:focus {
  border: 3px solid #AA896F;
  transition: 0.2s;
}

@media screen and (max-width: 2000px) {
  .cabecalho__navegacao__categorias__nome {
    display: none;
  }
  .cabecalho {
    justify-content: space-between;
    height: 14%;
    flex-direction: row-reverse;
  }
  .cabecalho .cabecalho__logo {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 2rem;
  }
  .cabecalho.open .mobile-menu {
    display: block;
    max-height: 40rem;
    opacity: 1;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
  }
  .cabecalho .cabecalho__navegacao .cabecalho__navegacao__categorias li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cabecalho .cabecalho__navegacao .cabecalho__navegacao__categorias li .cabecalho__navegacao__categorias__nome {
    background-color: #000;
    width: 12rem;
  }
  .cabecalho .cabecalho__navegacao .cabecalho__navegacao__categorias li .cabecalho__navegacao__categorias__nome:hover {
    margin-right: -2rem;
    background-color: #B2B2B2;
    width: 12rem;
  }
  .cabecalho .cabecalho__navegacao .mobile-menu-icon {
    display: block;
    padding-right: 6.5rem;
    padding-left: -6.3rem;
  }
  .cabecalho .cabecalho__navegacao .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .cabecalho .cabecalho__navegacao .mobile-menu-icon button img {
    width: 3rem;
  }
  .cabecalho .cabecalho__navegacao .mobile-menu .cabecalho__navegacao__categorias {
    top: 14%;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .cabecalho .cabecalho__navegacao .mobile-menu .cabecalho__navegacao__categorias .cabecalho__navegacao__categorias__nome {
    display: block;
    padding-top: 1.2rem;
  }
}
.cabecalho.open2 .curiosidades {
  display: flex;
  opacity: 1;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}
.cabecalho .curiosidades {
  right: 0;
  bottom: 0;
  height: 86%;
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(128, 114, 105, 0.7764705882);
  width: 16.6rem;
  row-gap: 1rem;
  padding: 1rem;
}
.cabecalho .curiosidades.open .mobile-menu {
  display: block;
  max-height: 40rem;
  opacity: 1;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}
.cabecalho .curiosidades .curiosidades__animais {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cabecalho .curiosidades .curiosidades__animais .curiosidades__animais__foto .cachorro {
  background: url(../assets/imagem-golden.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12rem;
  width: 10rem;
  height: 8rem;
  border-radius: 24px;
  border: 2px solid #FF9D52;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  transition: transform 0.5s;
}
.cabecalho .curiosidades .curiosidades__animais .curiosidades__animais__foto .gato {
  background-image: url(../assets/imagem-gato-laranja.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18.8rem;
  width: 10rem;
  height: 8rem;
  border-radius: 24px;
  border: 2px solid #FF9D52;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  transition: transform 0.5s;
}
.cabecalho .curiosidades .curiosidades__animais .curiosidades__animais__foto .rato {
  background-image: url(../assets/imagem-hamster.jfif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16rem;
  width: 10rem;
  height: 8rem;
  border-radius: 24px;
  border: 2px solid #FF9D52;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  transition: transform 0.5s;
}
.cabecalho .curiosidades .curiosidades__animais .curiosidades__animais__foto:hover div {
  border: 2px solid #FFF;
  transform: scale(1.1);
}
.cabecalho .curiosidades .curiosidades__animais .curiosidades__animais__titulo {
  text-decoration: none;
}
.cabecalho .curiosidades .curiosidades__animais .curiosidades__animais__titulo h2 {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  color: #FFF;
  font-weight: 400;
  text-shadow: 2px 2px 2px #000;
  transition: transform 0.5s;
}
.cabecalho .curiosidades .curiosidades__animais .curiosidades__animais__titulo:hover h2 {
  color: #D59767;
  transform: scale(1.2);
}

.container {
  left: 0;
  bottom: 0;
}

.quiz {
  padding: 4rem 4rem 0 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.quiz .quiz__perguntas {
  margin-top: 6rem;
  display: grid;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template-rows: auto 1fr;
  grid-template-areas: "quantidade titulo" "questionario questionario";
}
.quiz .quiz__perguntas .quiz__perguntas__p {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.quiz .quiz__perguntas .quiz__perguntas__p .quiz__perguntas__quantidade {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #FFF;
  background-color: #AA896F;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;
  width: 2.5rem;
  font-weight: 400;
  grid-area: quantidade;
  align-self: flex-start;
}
.quiz .quiz__perguntas .quiz__perguntas__p .quiz__perguntas__perguntando {
  width: auto;
  font-family: "Inika", serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  grid-area: titulo;
  width: 50rem;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa {
  margin: 4rem 0 0 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style-type: none;
  grid-area: questionario;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=radio] {
  display: none;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=radio]:checked + label .custom-radio {
  border-color: #000;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=radio]:checked + label .custom-radio span {
  background: #FFF;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=radio]:checked + label .quiz__perguntas__alternativa__opcao__titulo {
  transition: 0.3s;
  color: #FFF;
  text-shadow: 2px 2px 2px #000;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=checkbox] {
  display: none;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=checkbox]:checked + label .custom-radio {
  border-color: #000;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=checkbox]:checked + label .custom-radio span {
  background: #FFF;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa input[type=checkbox]:checked + label .quiz__perguntas__alternativa__opcao__titulo {
  transition: 0.3s;
  color: #FFF;
  text-shadow: 2px 2px 2px #000;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao {
  display: flex;
  align-items: center;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao input .correta {
  background-color: #26F04E;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .custom-radio {
  border: 4px solid #554C45;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .custom-radio span {
  content: "";
  width: 32px;
  height: 32px;
  background: #AA896F;
  border-radius: 50%;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .custom-radio .quadrado {
  border-radius: 0%;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .quadrado2 {
  border-radius: 0%;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .custom-radio,
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label span {
  transition: 0.5s ease;
  color: #000;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .quiz__perguntas__alternativa__opcao__titulo {
  font-family: "Inder", sans-serif;
  font-size: 1.5rem;
  color: #000;
  background-color: #FFF;
  border-radius: 16px;
  font-weight: 400;
  padding: 1rem;
  width: 40rem;
  text-align: center;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .quiz__perguntas__alternativa__opcao__titulo:hover {
  cursor: pointer;
  background-color: #AA896F;
  color: #FFF;
  transition: 0.3s;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .certo {
  display: block;
  background-color: #26F04E;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .erro {
  display: block; /* ou inline, dependendo do tipo de elemento */
  background-color: #F01B1B;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao label .normal {
  background-color: #FF9D52;
}
.quiz .quiz__perguntas .quiz__perguntas__alternativa .quiz__perguntas__alternativa__opcao .frase__interrogativa {
  font-family: "Inder", sans-serif;
  font-size: 2rem;
  color: #B2B2B2;
  background-color: #000;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  width: 48rem;
}
.quiz .quiz__imagem {
  margin-left: -5rem;
  border-radius: 57px;
  border: 4px solid #554C45;
  box-shadow: 4px 4px 8px #000;
  margin-top: 6rem;
  width: 28rem;
  height: 30rem;
}
.quiz .imagem1 {
  background: url(../assets/imagem-corgi.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.quiz .imagem2 {
  background: url(../assets/varios-cachorrinhos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.quiz .imagem3 {
  background: url(../assets/varios-gatinhos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.quiz .imagem4 {
  background: url(../assets/cor-gatos.jfif);
  background-position: center;
  background-size: 30rem;
  background-repeat: no-repeat;
}
.quiz .imagem5 {
  background: url(../assets/gatos-raca.jpg);
  background-position: center;
  background-size: 33rem;
  background-repeat: no-repeat;
}
.quiz .imagem6 {
  background: url(../assets/gato-shpynk.jfif);
  background-position: center;
  background-size: 45rem;
  background-repeat: no-repeat;
}
.quiz .quiz__imagem2 {
  align-self: center;
  height: 20rem;
}
.quiz .imagem7 {
  background: url(../assets/varios-animais-2.jpg);
  background-position: center;
  box-shadow: 2px 2px 4px #000;
  background-size: 35rem;
  background-repeat: no-repeat;
}
.quiz .quiz__imagem3 {
  align-self: center;
  width: 30rem;
  height: 30rem;
}
.quiz .imagem8 {
  background: url(../assets/imagem-agatha.jpg);
  background-position: center;
  background-size: 33rem;
  background-repeat: no-repeat;
}
.quiz .imagem9 {
  background: url(../assets/animais-preferidos.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.quiz .quiz__imagem4 {
  align-self: flex-start;
  height: 40rem;
  margin-bottom: 2rem;
}
.quiz .imagem10 {
  background: url(../assets/imagem-kika.jpg);
  background-position: center;
  background-size: 34rem;
  background-repeat: no-repeat;
}

.submit {
  margin-left: 10rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  display: flex;
  bottom: 0;
  justify-content: center;
  text-align: center;
}
.submit .btn__submit {
  font-family: "Irish Grover", system-ui;
  font-size: 2rem;
  color: #FFF;
  padding: 2rem;
  background-color: #554C45;
  border-radius: 24px;
  border: 2px solid #D59767;
  box-shadow: 1px 1px 4px #000;
  transition: transform 0.5s;
}
.submit .btn__submit:hover {
  cursor: pointer;
  background-color: #D59767;
  color: #000;
  border: 2px solid #554C45;
  text-shadow: 2px 2px 2px #FFF;
  transform: scale(1.3);
}
.submit .btn__reset {
  font-family: "Irish Grover", system-ui;
  font-size: 2rem;
  color: #FFF;
  padding: 2rem;
  background-color: #554C45;
  border-radius: 24px;
  border: 2px solid #D59767;
  box-shadow: 1px 1px 4px #000;
  transition: transform 0.5s;
}
.submit .btn__reset:hover {
  cursor: pointer;
  background-color: #D59767;
  color: #000;
  border: 2px solid #554C45;
  text-shadow: 2px 2px 2px #FFF;
  transform: scale(1.3);
}

.rodape {
  background-color: #807269;
  padding: 1rem 0rem 1rem 4rem;
  text-align: start;
  width: 98.9vw;
}
.rodape h2 {
  font-family: "Inika", serif;
  font-size: 1rem;
  color: #FFF;
}
.rodape h2 a {
  color: #FFF;
  text-decoration: none;
}

.resposta {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
}
.resposta .resposta__titulo {
  font-family: "Inder", sans-serif;
  font-size: 1rem;
  color: #000;
  border-radius: 8px;
  border: 2px solid #000;
  padding: 1rem;
  background-color: #D59767;
}/*# sourceMappingURL=style.css.map */